.parent-box {
  width: 90%;
  display: flex;
  /* border: 2px solid red; */
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  /* border: 3px solid black; */
  min-width: 27%;
  height: 300px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.finestwallpaper.com/uploads/5/7/7/9/5779447/lt1121-grand-imperial-koi_orig.jpg');
  filter: grayscale(90%);
}

.box-photo {
  border: 1px solid blue;
  width: 80%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}



/* 
.portfolio-section {
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  background: url('https://img.freepik.com/premium-vector/japanese-samurai-background-japan-theme-background-samurai-wallpaper-landscape-fantasy-walpaper_444852-567.jpg') center/cover no-repeat;
  filter: grayscale(100%);
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.portfolio-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #dadada;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.portfolio-item {
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 200px;
}

.portfolio-item h3 {
  margin: 10px 0;
}

.portfolio-links {
  margin: 10px 0;
  font-size: large;
}

.portfolio-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}

.portfolio-links a:hover {
  text-decoration: underline;
} */



/* Flexbox responsiveness */
/* @media (max-width: 768px) {
  .portfolio-item {
    flex: 1 1 100%;
  }
}

@media (max-width: 1200px) {
  .portfolio-item {
    flex: 1 1 calc(50% - 20px);
  }
} */


